{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid home-container ">
  <div class="container home-content ">
    <div>
      <h1 class="title">Because it has never been so easy to manage projects and client-flow</h1>

      <ul class="list-group mt-5 fs-3">
        <li class="mb-3 "><i class="fa-solid fa-list-check "></i>Improved Customer Management</li>
        <li class="mb-3"><i class="fa-solid fa-gear "></i>Process Automation</li>
        <li class="mb-3"><i class="fa-solid fa-dollar  "></i> Increased Sales</li>
        <li class="mb-3"><i class="fa-solid fa-magnifying-glass "></i>Analysis and Reporting</li>
        <li class="mb-3"><i class="fa-regular fa-hand "></i>Improved Customer Retention</li>
      </ul>

      <button class="btn btn-lg signup-button ">Let's Start</button>
    </div>

    <div>
      <!-- <img src="{% static 'images/fondo1.jpg' %}" class="hero-image" alt=" Assistant "> -->
      <img src="{% static 'images/fondo2.jpg' %}" class="hero-image" alt=" Freelancer ">
    </div>
  </div>
</div>

<section class="container mt-5">
    <h3>algun titulo genial </h3>
    <p>descripcion del producto</p>

    <div class="utilities-container">

        <div class="utilities">Manage Projects</div>
        <div class="utilities">Tasks</div>
        <div class="utilities">Scheduler</div>
        <div class="utilities">Capture Lead</div>
        <div class="utilities">Automated Emails</div>

    </div>
    

</section>

{% endblock%}
